RewriteEngine On

# server maintenance check
#RewriteCond %{DOCUMENT_ROOT}/system/maintenance.php -f
#RewriteCond %{SCRIPT_FILENAME} !/system/maintenance.php
#RewriteCond %{SCRIPT_FILENAME} !^/images/maintenance
#RewriteRule ^.*$ /system/maintenance.php [L]

# send image requests to the thumbnailer
#RewriteRule ^photos/versions/original/000/000/011/photo.jpg$ /photos/original/11.jpg [L]
#RewriteRule ^/photos/versions/original.* /photos/original/11.jpg [L]

# static cache
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.php

# TODO : apply only upload actions /upload/form and /upload/flash
# increase max file size to 500 megabytes and upload time to 5 hours
php_value upload_max_filesize 500M
php_value post_max_size 500M
php_value max_input_time 18000
