@import base
@import mixins
@import partials/login_logout

+form_rows

!link_color = #090

body
  :font-family Helvetica Neue, Arial, Helvetica, sans-serif
  :line-height 1.5
  :color #ccc
  :font-size 75%
  :background-color #1E1E1E

h1, h2, h3, h4
  :font-weight normal
  :color #ccc
  :line-height 1
  :margin-bottom 0.5em
h1
  :font-size 33px
h2
  :margin 30px 0 0 20px

p
  :margin 0 0 1.5em

a
  :text-decoration underline
  :color = !link_color
  &:visited
    :color = !link_color
  &:focus
    :color = !link_color + #111
  &:hover
    :color = !link_color + #222
  &:active
    :color = !link_color + #222

blockquote
  :margin 1.5em
  :color #666
  :font-style italic

sup, sub
  :line-height 0

abbr, acronym
  :border-bottom 1px dotted #666

pre
  :margin 1.5em 0
  :white-space pre

pre, code, tt
  :font 1em 'andale mono', 'lucida console', monospace
  :line-height 1.5

ul
  :margin 0 1.5em 1.5em 1.5em
  :list-style-type disc

ol
  :margin 0 1.5em 1.5em 1.5em
  :list-style-type decimal

dl
  :margin 0 0 1.5em 0
dt
  :font-weight bold
dd
  :margin-left 1.5em

table
  :margin-bottom 1.4em
  :width 100%
th
  :font-weight bold
  :background #c3d9ff

th, td, caption
  :padding 4px 10px 4px 5px

tr.even td
  :background #e5ecf9

tfoot
  :font-style italic

caption
  :background #eee

//=============================================================================
// chrome
//=============================================================================

#cntl
  :margin-top 40px

#header
  :position absolute
  :top 0px
  :left 0px
  :right 0px
  :background-color black
  :height 30px
  h2
    :margin 0
    :float left
    :font-size 12px
    :line-height 15px
    :color white
    :margin 7px 0 0 10px

#footer
  :text-align center

#scripts
  :display none

//=============================================================================
// flashes
//=============================================================================

#flashes 
  p, dl
    padding-left: 34px
    font-weight: bold
    margin: 12px 0px
  .notice
    color: green
    background: #cfc url('/images/icons/16/flash_notice.png') no-repeat 10px center
    border: 1px solid green
  .warn
    color: orange
    background: #ffc url('/images/icons/16/flash_warn.png') no-repeat 10px center
    border: 1px solid orange
  .error
    color: red
    background: #fcc url('/images/icons/16/flash_error.png') no-repeat 10px center
    border: 1px solid red
  .info, .debug
    color: blue
    background: #ccf url('/images/icons/16/flash_info.png') no-repeat 10px center
    border: 1px solid blue
